<div class="wrap">
  <div class="filter">
    <div class="filter-price">
      <div class="filter-title">
        <span>Цена (руб.)</span>
      </div>
      <div class="field">
        <div class="field-label">
          <label>
            <span>От</span>
            <input
              type="text"
              name="for-price"
              class="form-control shadow-none"
              placeholder="6"
            />
          </label>
        </div>
      </div>
      <div class="field">
        <div class="field-label">
          <label>
            <span>До</span>
            <input
              type="text"
              name="for-price"
              class="form-control shadow-none"
              placeholder="5000"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="filter-hight">
      <div class="filter-title">
        <span>Высота, см</span>
      </div>
      <div class="field">
        <div class="field-label">
          <label>
            <span>От</span>
            <input
              type="text"
              name="for-price"
              class="form-control shadow-none"
              placeholder="6"
            />
          </label>
        </div>
      </div>
      <div class="field">
        <div class="field-label">
          <label>
            <span>От</span>
            <input
              type="text"
              name="for-price"
              class="form-control shadow-none"
              placeholder="6"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="filter-apply">
      <button type="button" class="btn btn-filter">Primary</button>
    </div>
  </div>
</div>
