<div class="row">
  <div class="col-md-3 offset-md-9">
    <div class="user">
      <a href="#"> Войти/Зарегестрироваться</a>
    </div>
  </div>
</div>
<div class="row header">
  <div class="col-md-1 logo">
    <a href="#">
      <div class="logo-img">
        <img src="../../assets/flower.png" />
      </div>
      <div class="logo-text">
        <span>Flowers</span>
      </div>
    </a>
  </div>
  <div class="col-md-1 menu-item">
    <span>Дом</span>
  </div>
  <div class="col-md-1 menu-item">
    <span>Сад</span>
  </div>
  <div class="col-md-2 menu-item">
    <span>Магазины</span>
  </div>
  <div class="col-md-1 menu-item">
    <span>Советы</span>
  </div>
  <div class="col-md-3 offset-md-2 menu-item">
    <div class="input-group">
      <input
        class="form-control border-end-0 border"
        type="search"
        placeholder="Что ищем?"
        id="example-search-input"
      />
      <span class="input-group-append">
        <button
          class="
            btn btn-outline-secondary
            bg-white
            border-start-0 border-bottom-0 border
            ms-n5
          "
          type="button"
        >
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="col-md-1 menu-item">
    <div class="cart">
      <div class="cart-image">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      
          <div class="cart-count">1</div>
     
    </div>
  </div>
</div>
