
.shopping-cart{
    margin-right: 50px;
    position: relative;
    font-size: 24px;
    color: rgb(158, 158, 158);
    cursor: pointer;
}
.shopping-cart:hover{
    color: black;
    transition: .3s;
}
.count-product{
    position: absolute;
    top: 30%;
    left: 100%;
    font-size: 20px;
    // color: rgb(158, 158, 158);
    // border: 1px solid red;
    // border-radius: 100%;

}