<div class="content">
  <div class="row no-gutter">
    <div class="col-md-3 product">
      <div class="product-img">
        <img src="../../assets/flower.png" alt="" />
      </div>
      <div class="product-desc">
        <div class="product-price"><span>250 руб.</span></div>
        <div class="product-add">
          <span>В корзину</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 product"></div>
    <div class="col-md-3 product"></div>
    <div class="col-md-2 no-padding">
      <app-filter></app-filter>
    </div>
  </div>
</div>
