<main>
  <section class="text-center mb-4" style="margin-top: 20px;">
    <div class="row wow fadeIn">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of products">
        <app-product [product]="item"></app-product>
      </div>
    </div>
  </section>
</main>
<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">
      <li class="page-item disabled">
          <a href="#" class="page-ling" aria-label="Previous">
              <!-- <span aria-hidden="true">&laquo;</span> -->
              <jw-pagination [items]="products" (changePage)="onChangePage($event)"></jw-pagination>
          </a>
      </li>
  </ul>
</nav>
