<main class="mt-5 pt-4">
  <div class="dark-grey-text mt-5">
    <div class="row wow fadeIn">
      <div class="col-md-4 mb-4">
        <div style="text-align: center">
          <img
           [src]="product.image"
            alt=""
            class="img-fluid"
            style="height: 270px"
          />
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="p-4">
          <div class="mb-3">
            <p class="lead font-weight-bold" style="color: rgb(0, 0, 0)">
              {{product.name}}
            </p>
          </div>
          <p class="lead">
            <span class="mr-1"> {{product.price}} руб. </span>
          </p>
          <p class="lead font-weight-bold">Description</p>
          <p>
           {{ product.description }}
          </p>
          <form action="" class="d-flex justify-content-left">
            <input
              type="number"
              value="1"
              aria-label="Search"
              class="form-control"
              min="1"
              max="100"
              style="width: 100px"
              [(ngModel)]="count" 
              [ngModelOptions]="{standalone: true}"
            />
           
            <button
              class="btn btn-primary btn-md my-0 p"
              style="margin-left: 5px"
              (click)="addToBasket()"
              type="button"
            >
              Add to cart <i class="fa fa-shopping-cart mr-1"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
